html {
    font-family: Helvetica, arial, sans-serif;
}
body {
    min-width: 350px;
}

/* header */
header {
    width: 100%;
    position: sticky;
}
/* navbar */
.dropdown-menu.my_navbar img{
    width: 50%;
}
header .navbar .dropdown-menu {
    position: static;
}
