:root {
    --blue-color:#0070D1;
    --grey-color:#8B8B8B;
    --darkgrey-bg: #1F1F1F;
    --grey-bg: #BEBCBB;
    --darkblue-bg: #161C3B;
}

body {
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    min-width: 350px;
}

/* header */
header {
    width: 100%;
    position: sticky;
}
/* navbar */
.dropdown-menu.my_navbar img{
    width: 50%;
}
header span ul li i {
    font-size: 1em;
}

/* utilities */
.rounded-5 {
    border-radius: 15px;
}
.grey-text {
    color: var(--grey-color);
}
.blue-text {
    color: var(--blue-color);
}
.bg-dark-grey {
    background-color: var(--darkgrey-bg);
}
.bg-grey {
    background-color: var(--grey-bg);
}
.bg-dark-blue {
    background-color: var(--darkblue-bg);
}

/* Main */
/* Jumbotron */
.jumbotron {
    width: 100%;
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* playstation 5 */
.playstation-5 .no-limits {
    font-size: 1em;
}

/* sponsored game */
.sponsored-game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

/* playstation plus */
.playstation-plus {
    /* height: 400px; */
}

/* footer */
footer {
    background-color: #00439C;
}
.globe {
    height: 20px;
}
.sie {
    width: 20%;
}
footer ul li a {
    color: white;
}


@media screen and (max-width: 991px) {
    .nav-right-side {
        display: none;
    }
}