:root {
    --blue-color:#0070D1;
    --grey-color:#8B8B8B;
    --darkgrey-bg: #1F1F1F;
    --grey-bg: #BEBCBB;
    --darkblue-bg: #161C3B;
    --white-bg: #FFFFFF;
}

body {
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    min-width: 350px;
}

/* header */
header {
    width: 100%;
    position: sticky;
}
/* navbar */
.dropdown-menu.my_navbar img{
    height: 100px;
}
.dropdown-menu.my_navbar li {
    margin: 0 1em;
}
.dropdown-menu.my_navbar li a {
    padding: 0;
}
.dropdown-menu.my_navbar li a:hover {
    box-shadow: 0 0 10px grey;
    background-color: white;
    color: var(--blue-color);
}
.dropdown-menu.my_navbar li .drdown-text:hover {
    box-shadow: 0 0 0 white
}
header span ul li i {
    font-size: 1em;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue-color);
}

/* utilities */
.rounded-5 {
    border-radius: 15px;
}
.grey-text {
    color: var(--grey-color);
}
.blue-text {
    color: var(--blue-color);
}
.bg-dark-grey {
    background-color: var(--darkgrey-bg);
}
.bg-grey {
    background-color: var(--grey-bg);
}
.bg-dark-blue {
    background-color: var(--darkblue-bg);
}
.bg-white {
    background-color: var(--white-bg);
}

/* Main */
main button.btn:hover {
    box-shadow: inset 0px 0px 0px 2px white;
}
/* Jumbotron */
.jumbotron {
    width: 100%;
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* games under jumbo */

.games-under-jumbo .games-images {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.games-under-jumbo .games-images:hover,
.games-under-jumbo .games-images:focus,
.games-under-jumbo .games-images:active {
    top: -10px;
}

/* playstation 5 */
.playstation-5 .no-limits {
    font-size: 1em;
}
.playstation-5 .ps5-footer .ps5-footer-image {
    opacity: 0.7;
    border-bottom: 3px solid transparent;
    transition: opacity 0.3s, border-bottom 0.3s;
}
.playstation-5 .ps5-footer-image:hover,
.playstation-5 .ps5-footer-image:focus,
.playstation-5 .ps5-footer-image:active {
    opacity: 1;
    border-bottom: 3px solid var(--blue-color);
}

/* sponsored game */
.sponsored-game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

/* upcoming games */
.upcoming-games img:hover {
    cursor: pointer;
}

/* play station plus */
/* play station now */
.playstation-plus button.btn:hover,
.playstation-now button.btn:hover,
.playstation-plus button.btn:active,
.playstation-now button.btn:active,
.playstation-plus button.btn:focus,
.playstation-now button.btn:focus {
    box-shadow: inset 0px 0px 0px 2px black;
}

/* footer */
footer {
    background-color: #00439C;
}
.globe {
    height: 20px;
}
.sie {
    width: 20%;
}
footer ul li a {
    color: white;
}
footer ul li a:hover {
    color: white;
}
